.idea-detail, .dev-detail {
    margin: 3rem 10rem;
    padding: 1rem 5rem;
    background-color: rgba(150, 150, 150, 0.9);
}

.idea-detail p, .dev-detail p {
    color: #fff;
    margin-bottom: 1rem;
}

.idea-detail-header, .dev-detail-header {
    text-align: center;
    margin-bottom: 2rem;
}

.idea-detail-header h1, .dev-detail-header h1 {
    font-size: 2rem;
    color: #ffff66;
    margin-bottom: 0.5rem;
}

.idea-detail-header p, .dev-detail-header p {
    font-size: 1rem;
}

.idea-detail-info, .dev-detail-info {
    display: flex;
    border: 1px solid #fff;
    margin: 0 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    gap: 3rem;
}

.idea-detail-info img {
    max-width: 500px;
    max-height: 500px;
}

.idea-detail-info-right h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
}

.idea-detail-bottom, .dev-detail-bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    gap: 5rem;
}

.idea-detail-bottom a, .dev-detail-bottom a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.idea-detail-bottom a:hover {
    background-color: #0056b3;
}

.idea-detail-bottom .btn-delete, .dev-detail-bottom .btn-delete {
    background-color: #ea5b42;
}

.idea-detail-bottom .btn-list , .dev-detail-bottom .btn-list {
    background-color: #fff;
    color: black;
}

.idea-detail-bottom .btn-update , .dev-detail-bottom .btn-update {
    background-color: #3399ff;
}

/* dev-detail */
.dev-detail-info {
    flex-direction: column;
    gap: 0;
}

.dev-detail-info h1, h3 {
    color: #fff;
}

.dev-detail-info h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.dev-content {
    border-left: 2px solid #fff;
    padding-left: 1rem;
}