{% extends 'base.html' %}

{% load static %}

{% block title %}아이디어 수정{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    
    <section class="idea-register-header">
        <h1>Idea Detail Update</h1>
        <p>아이디어 세부내용 수정 페이지입니다. 아이디어를 구체화하거나 내용을 변경해 보아요.</p>
    </section>

    <form action="{% url 'ideas:idea_update' idea.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form_label">
            <label for="title">아이디어명:</label>
        </div>
        {{ form.title }}

        <div>
            <label for="image">이미지:</label>
            {% if form.image.value %}
            <p>Currently: <a href="{{ form.image.value.url }}">{{ form.image.value }}</a></p>
            <div class="checkbox">
                <input type="checkbox" name="remove_image" id="remove_image">
                <label for="remove_image">Clear</label>
            </div>
            {% endif %}
            <p>Change: <input type="file" name="image" id="image"></p>
        </div>

        <div class="form_label">
            <label for="content">아이디어 설명:</label>
        </div>
        {{ form.content }}

        <div class="form_label">
            <label for="interest">아이디어 관심도:</label>
        </div>
        {{ form.interest }}

        <div class="form_label">
            <label for="dev_tool">예상 개발 툴:</label>
        </div>
        {{ form.devtool }}

        <button type="submit" class="btn-save">SUBMIT</button>
    </form>
</div>
{% endblock %}